
---
const pageTitle = "My Notes";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<a href="/resources/">Resources</a>
	<h1>{pageTitle}</h1>
		<p>My notes...</p>
		<p>
			<ul>
				<li><a href="/notes/npm-run-dev/">npm run dev -- --host</a></li>
			</ul>

	</body>
</html>
