
---
const pageTitle = "Resources";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/blog/">Blog</a>
		<a href="/about/">About</a>
		<a href="/notes/">Notes</a>
		<h1>{pageTitle}</h1>
				<ul>
					<li><a href="https://www.markdownguide.org/cheat-sheet/">Markdown cheatsheet</a></li>
					<li><a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_are_browser_developer_tools">MDN browser tools</a></li>
					<li><a href="https://assemble.io/docs/YAML-front-matter.html">YAML frontmatter</a></li>
					<li><a href="https://thevalleyofcode.com/#the-web"> Valley of Code </a><li>
				</ul>
	</body>
</html>
